body{
 margin: 0;
 flex-wrap: wrap;
 background-color: rgb(213, 221, 230);
}


header{
 margin-top: 0;
 min-width:95vw;
 max-width:100vw;
}

h1{
 padding-top:1.2rem;
 padding-bottom:1.2rem;
 margin-top: 0;
 background-color: rgb(196, 212, 212);
 max-width: 100vw;
 text-align: center;
}

form{
 box-sizing: border-box;
 /*box-shadow: 2px 5px 1px 1px grey;*/
 background:linear-gradient(to bottom left,rgb(119, 206, 206) 50%,/*rgb(124, 124, 109)*/rgb(106, 106, 180) 50%);
 margin-left: 13vw;
 margin-right: 13vw;
 max-width: 650px;
 /*text-align: center;*/
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left:5%;
 border-radius: 10px;
}
form p{
 font-size: 20px;
 align-items: center;
}
form p a{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 20px;
}
form button{
  background-color: rgb(25, 255, 4);
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 6px;
}

input{
 padding-left: 0;
 color:black;
 font-size: 18px;
 width: 75%;
 height: 1.4em;
 padding: 5px;
 margin-top: 5px;
 margin-top: 5px;
}

label{
font-size: 20px;
padding: 5px;
}
form #SubmitBtn{
  background-color: rgb(119, 206, 206);
  width: 30%;
  color: black;
  max-width: 200px;
  text-align: center;
  margin-left: 10%;
  margin-top: 9px;
  padding: 0px;
  border-radius: 8px;
  height: 2.4em;
}
select{
  width: fit-content + 30px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  padding-bottom: 5px;
}
option{
  font-size: 16px;
  padding-bottom: 30px;
}


